.DS_Store
.AppleDouble
.LSOverride
Icon

._*
.Spotlight-V100
.Trashes

Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/

.cache/
.npm/
.nvm/
.zcompdump*
.zsh_sessions/
.zsh_history
*.swp
*.swo

.vscode/
.copilot/
